:root{
  /*  Colores */
  --VeryDarkCyan: hsl(183, 100%, 15%);
  --DarkGrayishCyan: hsl(186, 14%, 43%);
  --GrayIshCyan: hsl(184, 14%, 56%);
  --LightGrayishCyan: hsl(185, 41%, 84%);
  --VeryLightGrayishCyan: #f3f8fb;
  --White: hsl(0, 0%, 100%);
  --Cyan : #26c2ad;
  --CyanLow : #9fe7df;
  --Red : #c69888;
}

form{
  background-color: var(--White);
  padding: 2rem;
  border-radius: 1rem;
}

label{
  font-size: 1.5rem;
  color: var(--DarkGrayishCyan);
}

input{
  color: var(--VeryDarkCyan);
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 1rem 2rem;
  background-color: var(--VeryLightGrayishCyan);
  border: none;
}

input::placeholder{
  text-align: center;
  color: var(--VeryDarkCyan);
  background-color: var(--VeryLightGrayishCyan);
}

input[type="number"]{
  background-color: var(--VeryLightGrayishCyan);
  width: 100%;
  font-size: 2rem;
  text-align: end;
  -moz-appearance:textfield; 
}

input[type="number"]:focus{
  outline: .2rem var(--Cyan) solid;
}

/* Errror */

.inputError{
  outline: .2rem var(--Red) solid;
}

input[type="number"]::placeholder{
  opacity: .5;
  text-align: end;
}

/* Quita botones de input button*/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


input[type="submit"]{
  font-size: 2rem;
  cursor: pointer;
  background-color: var(--Cyan);
  color: var(--VeryDarkCyan);
}

.opacidad{
  cursor: not-allowed;
  opacity: .1;
}

.titulo{
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.titulo h1,
.titulo h2
{
  font-size: 2.3rem;
  letter-spacing: 1rem;
  text-align: center;
  color: var(--DarkGrayishCyan);
  margin: 0;
}

span{
  font-size: 1.2rem;
  color: var(--GrayIshCyan)
}

.contenedor{
  max-width: 80rem;
  width: 90%;
  margin: 0 auto;
}

.formulario{
  border-radius: 2rem;
  padding: 3rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  gap: 3rem
}

.formulario label{
  display: block;
  margin: 4rem 0rem 2rem 0rem;
  text-align: left;
}

.formulario label:first-of-type{
  display: block;
  margin: 0rem 0rem 1rem 0rem;
  text-align: left;
}

.formulario label:last-of-type{
  display: block;
  margin: 4rem 0rem 1rem 0rem;
  text-align: left;
}

.propinas{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  align-items: center;
  justify-content: left;

  gap: 1rem;
}

.propinas input{
  border-style: none;
  font-size: 1.5rem;
  border-radius: .2rem;
  padding: 1rem;
}

.propinas input[type="button"]{
  cursor: pointer;
  border-radius: .5rem;
  background-color: var(--VeryDarkCyan);
  font-size: 2rem;
  color: var(--White);
}

/* Al seleccionar porcentaje*/

.seleccion{
  background-color: var(--Cyan);
}

.propinas input[type="button"]:hover{
  background-color: var(--CyanLow);
  color: var(--VeryDarkCyan);
}

.propinas input[type="number"]{
  text-align: center;
  font-size: 2rem;
}

.propinas input[type="number"]::placeholder{
  text-align: center;
  font-size: 2rem;
}

.entrada-datos{
  padding: 1rem;
}

.bg-Salida{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  background-color: var(--VeryDarkCyan);
  color: #242424;
  padding: 4rem;
  border-radius: 1.5rem;
}

.bg-Salida h2{
  text-align: left;
  letter-spacing: 0rem;
  font-size: 1.5rem;
  color: var(--White);
  margin-bottom: .5rem;
}

.bg-Salida p{
  color: var(--Cyan);
}

.resultados{
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.resultados p{
  font-size: 4rem;
  margin: 0;
}

.btn-reset{
  text-transform: uppercase;
  display: block;
  padding: 1rem 0;
  width: 100%;
}

.btn-reset:hover{
  background-color: var(--CyanLow);
}